.popup__container {
    display: grid;
    grid-template-columns: 430px max-content;
    grid-template-rows: max-content 330px;
    gap: 8px;
}

@media screen and (max-width: 560px) {
    .popup__container {
        grid-template-columns: 100%;
        gap: 16px;
    }
}