.profile__text-area {
    max-width: 336px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
    gap: 8px 18px;
    align-content: center;
}

@media screen and (max-width: 320px) {
    .profile__text-area {
        padding-left: 30px;
        gap: 7.5px 10px;
    }
}