.element__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    min-height: calc(100% - 282px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}