.profile__name {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
    align-self: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 550px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.22;
        text-align: center;
    }
}