.profile__description {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 550px) {
    .profile__description {
        font-size: 14px;
        text-align: center;
    }
}