.element__like {
    border: none;
    background: url(../../../images/Like-icon.svg) center no-repeat;
    width: 22px;
    height: 19px;
    margin-bottom: 3px;
    padding: 0;
    transition: opacity .3s;
    align-self: center;
}

.element__like:hover {
    opacity: .5;
}
